{% load static %}
<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
	<link rel="stylesheet" href="{% static 'dashboard/styles/app.css' %}">
	<script type="module" defer src="{% static 'dashboard/scripts/app.js' %}"></script>
	<title>{% block title %}Dashboard{% endblock %}</title>
</head>

<body>
	<div id="header">
		<span>Logo</span>
		<div id="header-buttons">
			<div>settings</div>
			<div>help</div>
			<div>user</div>
			</div>
	</div>
	<aside id="sidebar">
		{% block sidebar %}
		<sl-card class="card-basic">
		JellyFish Rack 120
		</sl-card>
		{% endblock %}
	</aside>
	<div id="content">
		{% block content %}{% endblock %}
	</div>


</body>

</html>
