{% load static %}
<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
	<link rel="stylesheet" href="{% static 'dashboard/styles/app.css' %}">
	<script type="module" defer src="{% static 'dashboard/scripts/app.js' %}"></script>
	<title>{% block title %}Dashboard{% endblock %}</title>
</head>

<body>
	<header id="header">
		<span>Logo</span>
		<div id="header-buttons">
			<sl-icon name="question-circle"></sl-icon>
			<sl-icon name="person-circle"></sl-icon>
			</div>
	</header>
	<aside id="sidebar">
		{% block sidebar %}
		<sl-card class="card-basic">
		JellyFish Rack 120
		</sl-card>
		{% endblock %}
	</aside>
	<main id="content">
		{% block content %}{% endblock %}
	</main>


</body>

</html>
