venv
__pycache__/
db.sqlite3
db.sqlite3-journal
*.pyc
*.log
*.pot

djdev/dashboard/static/dashboard/styles/
djdev/dashboard/static/dashboard/scripts/
djdev/dashboard/static/dashboard/assets/

node_modules
